
<footer class="bg-light text-white text-center py-3 mt-5">
  <div class="container">
    <p class="mb-0" style="color:#00bf63">&copy; 2025 SecondServe. All rights reserved.</p>
    <p style="color:#00bf63">Made with ❤️ by Kumar Ayush</p>
  </div>
</footer>