<!DOCTYPE html>
<html lang="en">
<head>
  <title>NGO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  
  </style>
</head>
<body>

<h1>Create Order Request</h1>
<form action="/food-order" method="POST">
  <input name="itemName" placeholder="Item Name" required>
  <input name="description" placeholder="Description" required>
  <input name="quantity" type="number" placeholder="Quantity" required>
  <button type="submit">Submit</button>
</form>
</body>
</html>
