<!DOCTYPE html>
<html lang="en">
<head>
  <title>NGO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="restaurant.js"></script>
  <script src="cities.js"></script>
  <style>

  </style>
</head>
<body>

<button onclick="open_login()">Login</button>
<button onclick="open_register()">Register</button>


<div id="login-page" style="display: none;">
<form action="/restaurant-login" method="POST">
  <h1>Login</h1>
  <label>Email</label><input type="email">
    <label>Password</label><input type="password">
      <input type="submit" value="Login">
</form>
</div>

<div id="register-page" style="display: none;">
<form action="/restaurantRegister" method="POST">
  <h1>Restaurant Registration</h1>

  <label>Restaurant Name</label>
  <input type="text" name="rName" required>

  <label>Address</label>
  <input type="text" name="rAddress" required>

  <label>City</label>
  <select onchange="print_city('restaurantCity', this.selectedIndex);" id="sts_restaurant" name="state_restaurant" class="form-control" required></select>
  <select id="restaurantCity" class="form-control" name="city" required></select>
  <script language="javascript">print_state("sts_restaurant");</script>

  <label>Contact No</label>
  <input type="number" name="rContact" required>

  <label>Email</label>
  <input type="email" name="rEmail" required>

  <label>Opening Hours</label>
  <input type="text" name="rOpeningHours" placeholder="e.g. 9 AM - 10 PM" required>

  <label>Password</label>
  <input type="password" name="rPassword" required>

  <input type="submit" value="Register Restaurant">
</form>
</div>


<footer >
  <p>Made By Kumar Ayush</a></p> 
</footer>

</body>
</html>
